.homepage-container {
  > small {
    margin-bottom: 12px;
    color: #054e80;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
    padding: 20px;
}

.more-arrows {
    width: 48px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: moveArrows 1s ease-in-out .5s infinite alternate both;
}


@keyframes moveArrows {
    0% {
        transform: translateX(-50%) scale(.8) translateY(30px);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
