@import "variables";

.big-button-primary {
  background-color: #1DE9B6;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;

  @media (max-width: $phone-min) {
    width: 100%;
  }

  &:active {
    transform: translateY(1px);
  }

  a, div {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #00BFA5;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: #eee;

    a, div {
      color: $text-color-primary;
      padding: 15px 40px;
      text-shadow: none;
    }
  }
}

.big-button-secondary {
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;

  @media (max-width: $phone-min) {
    width: 100%;
  }

  &:hover {
    background-color: white;

    a {
      color: $text-color-primary;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  a {
    font-weight: 400;
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 15px 30px;

    &:visited {
      color: $text-color-primary;
    }
  }
}
